{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
      {% if forloop.first %}
        <div class="media media content-section">
          <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ post.author }}</h2>
            <p class="text-secondary">{{ post.author.email }}</p>

            {% if post.author.profile.followed.all.count == 0  %}
              <p class="text-secondary"> <a href="#">
              {{ post.author.profile.followed.all.count }} Follower
              </a></p>
            {% elif post.author.profile.followed.all.count == 1 %}
              <p class="text-secondary"> <a href="{% url 'followers' post.author %}">
              {{ post.author.profile.followed.all.count }} Follower
              </a></p>
            {% else %}
              <p class="text-secondary"> <a href="{% url 'followers' post.author %}">
              {{ post.author.profile.followed.all.count }} Followers
              </a></p>
            {% endif %}

            <p class="text-secondary"><em>{{ post.author.profile.bio }}</em></p>

            {% if post.author.profile != user.profile %}
            <form action="{% url 'follow-profile' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="profile_id" value="{{ post.author.profile.id }}">
              {% if user not in post.author.profile.followed.all %}
                <button class="btn btn-outline-info mb-4" type="submit">Follow</button>
              {% else %}
                <button class="btn btn-info mb-4" type="submit">Following</button>
              {% endif %}
            </form>
            {% endif %}

            
          </div>
      </div>

          
        
      {% endif %}
    {% endfor %}

    <p></p>

    <h2 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}"><em>{{ post.author }}</em></a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content |truncatewords:"50" }}</p>
            <a href="{% url 'post-detail' post.id %}"><u>See post</u></a>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}

